{% extends 'base.html' %}

{% block title %}Movie Stats{% endblock %}

{% block content %}
    {% if not movie['invalid'] %}
        <div class="content">
            <div class="container mt-5 mb-5">
                <div class="row gx-5 gy-5">
                    <div class="col-md-4"><!--filters-->
                        <div class="card">
                                <div class="card-body">
                                    <img src="{{ movie['poster'] }}" class="card-img-top" alt="...">
                                </div> <!-- card-body.// -->
                            
                        </div><!-- card -->
                    </div><!-- filters -->
                    <div class="col-md-8"> <!--Movie Panel-->
                        <div class="card h-100">
                                <div class="card-body p-5">
                                    <h2 class="card-title">{{ movie['title'] }} ({{ movie['year'] }})</h2>
                                    <p class="card-text">Genre: {{ movie['genre'] }}</p>

                                    <p class="d-inline">See avg. rating of {{ movie['title'] }} by users that rate movies
                                        <div class="dropdown d-inline-block">
                                            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                                            {{ value_1 }} 
                                            </button>
                                            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                                                <li><a class="dropdown-item" href="/movies/{{ movie_id }}/stats/low/{{ genre_id }}/{{ value_2 }}">low</a></li>
                                                <li><a class="dropdown-item" href="/movies/{{ movie_id }}/stats/high/{{ genre_id }}/{{ value_2 }}">high</a></li>
                                            </ul>
                                        </div>
                                    on avg.
                                    </p>

                                    <p>Rating: {{ stats_data['users'][value_1] }}</p>

                                    <p class="d-inline">See avg. rating of {{ movie['title'] }} by users that rate 
                                        <div class="dropdown d-inline-block">
                                            <button class="btn btn-secondary  dropdown-toggle" type="button" id="dropdownMenuButton2" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            {{ genre_name }} 
                                            </button>
                                            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton2">
                                                {% for current_genre in genres %}
                                                    <li><a class="dropdown-item" href="/movies/{{ movie_id }}/stats/{{ value_1 }}/{{ current_genre[0] }}/{{ value_2 }}">{{ current_genre[1] }}</a></li>
                                                {% endfor %}
                                            </ul>
                                        </div>
                                        movies
                                        <div class="dropdown d-inline-block">
                                            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton3" data-bs-toggle="dropdown" aria-expanded="false">
                                            {{ value_2 }} 
                                            </button>
                                            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton3">
                                                <li><a class="dropdown-item" href="/movies/{{ movie_id }}/stats/{{ value_1 }}/{{ genre_id }}/low">low</a></li>
                                                <li><a class="dropdown-item" href="/movies/{{ movie_id }}/stats/{{ value_1 }}/{{ genre_id }}/high">high</a></li>
                                            </ul>
                                        </div>
                                    </p>                                  

                                    <p>Rating: {{ stats_data['genres'][genre_name][value_2] }}</p>

                                </div> <!-- card-body.// -->
                            
                        </div><!-- card -->

                    </div> <!-- movie panel -->
                </div>
            </div> <!-- Container-->
        </div>

    {% else %}
        <div class="content">
            <div class="container mt-5 mb-5">
                        <div class="card">
                                <div class="card-body">
                                    <h1>{{ movie['info'] }}</h1>
                                </div> <!-- card-body.// -->
                            
                        </div><!-- card -->
            </div> <!-- Container-->
        </div>
    {% endif %}
{% endblock %}