<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Q3 example</title>
</head>
<body>
    <h1>Use case 3 example (Toy Story)</h1>
    <p>Low Scoring Users' Score: {{ data[0] }} High Scoring Users' Score: {{ data[1] }}</p>

    <h2>Action</h2>
    <p>Low Scoring Users' Score: {{ data[2] }} High Scoring Users' Score: {{ data[3] }}</p>

    <h2>Adventure</h2>
    <p>Low Scoring Users' Score: {{ data[4] }} High Scoring Users' Score: {{ data[5] }}</p>

    <h2>Animation</h2>
    <p>Low Scoring Users' Score: {{ data[6] }} High Scoring Users' Score: {{ data[7] }}</p>

    <h2>Children</h2>
    <p>Low Scoring Users' Score: {{ data[8] }} High Scoring Users' Score: {{ data[9] }}</p>

    <h2>Comedy</h2>
    <p>Low Scoring Users' Score: {{ data[10] }} High Scoring Users' Score: {{ data[11] }}</p>

    <h2>Crime</h2>
    <p>Low Scoring Users' Score: {{ data[12] }} High Scoring Users' Score: {{ data[13] }}</p>

    <h2>Documentary</h2>
    <p>Low Scoring Users' Score: {{ data[14] }} High Scoring Users' Score: {{ data[15] }}</p>

    <h2>Drama</h2>
    <p>Low Scoring Users' Score: {{ data[16] }} High Scoring Users' Score: {{ data[17] }}</p>

    <h2>Fantasy</h2>
    <p>Low Scoring Users' Score: {{ data[18] }} High Scoring Users' Score: {{ data[19] }}</p>

    <h2>Film-Noir</h2>
    <p>Low Scoring Users' Score: {{ data[20] }} High Scoring Users' Score: {{ data[21] }}</p>

    <h2>Horror</h2>
    <p>Low Scoring Users' Score: {{ data[22] }} High Scoring Users' Score: {{ data[23] }}</p>

    <h2>Musical</h2>
    <p>Low Scoring Users' Score: {{ data[24] }} High Scoring Users' Score: {{ data[25] }}</p>

    <h2>Mystery</h2>
    <p>Low Scoring Users' Score: {{ data[26] }} High Scoring Users' Score: {{ data[27] }}</p>

    <h2>Romance</h2>
    <p>Low Scoring Users' Score: {{ data[28] }} High Scoring Users' Score: {{ data[29] }}</p>

    <h2>Sci-Fi</h2>
    <p>Low Scoring Users' Score: {{ data[30] }} High Scoring Users' Score: {{ data[31] }}</p>

    <h2>Thriller</h2>
    <p>Low Scoring Users' Score: {{ data[32] }} High Scoring Users' Score: {{ data[33] }}</p>

    <h2>War</h2>
    <p>Low Scoring Users' Score: {{ data[34] }} High Scoring Users' Score: {{ data[35] }}</p>

    <h2>Western</h2>
    <p>Low Scoring Users' Score: {{ data[36] }} High Scoring Users' Score: {{ data[37] }}</p>

    <h2>IMAX</h2>
    <p>Low Scoring Users' Score: {{ data[38] }} High Scoring Users' Score: {{ data[39] }}</p>
</body>
</html>